@{
    ViewData["Title"] = "Index View";
}

    <h1>Hello world yet again</h1>    
    <h2 class="col-md-12">AYE</h2>

    
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active">Current</li>
    </ol>
    
    