@{
    ViewData["Title"] = "Index View";
}

     
    <div class="row text-center">
        <h1>Contact Brain</h1> 
        <br>
        <div class="col-md-12">
            <a asp-controller="Contact" asp-action="Index" class="btn btn-success">Show Contact </a>
        </div>
    </div>

    
    
    